services:
  - type: web
    name: videoannotate-api
    runtime: node
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: PORT
        value: 5001
